<!-- Desktop Nav -->
<nav
  class="details relative z-50 h-[400px] w-full overflow-hidden bg-gray-100 text-white lg:h-[650px]"
>
  <!-- Static Background Image -->
  <div class="static-image absolute inset-0 h-full w-full"></div>

  <div
    *ngIf="isOverlayVisible"
    class="absolute inset-0 z-20 flex items-start bg-black bg-opacity-90"
  >
    <div
      class="relative flex flex-col space-y-6 px-8"
      style="
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        height: auto;
      "
    >
      <p
        class="nav-button text-lg text-white transition-transform duration-300"
        (click)="scrollToSection('property-owner')"
      >
        Ejendomsejere
      </p>
      <p
        class="nav-button text-lg text-white transition-transform duration-300"
        (click)="scrollToSection('installers')"
      >
        Installatører
      </p>
      <p
        class="nav-button text-lg text-white transition-transform duration-300"
        (click)="openContactModal()"
      >
        Kontakt
      </p>
    </div>
  </div>

  <!-- Header Content -->
  <div
    class="relative z-30 mx-24 flex h-24 flex-row items-center justify-between"
  >
    <!-- Logo Section -->
    <div id="logo" class="gogreentech-logo flex items-center">
      <img
        class="logo-image z-40 h-16 w-auto transition-transform duration-300 hover:scale-110"
        src="/assets/gogreentech_logo.png"
        alt="GoGreenTech Logo"
      />
    </div>

    <!-- Navigation -->
    <div
      *ngIf="!isMobile; else burgerMenu"
      class="flex flex-row items-center space-x-6 px-4"
    >
      <p
        class="nav-button glassmorphism-button fade-in"
        [class.show]="showButtons && showNav1"
        (click)="scrollToSection('property-owner')"
      >
        Ejendomsejere
      </p>
      <p
        class="nav-button glassmorphism-button fade-in"
        [class.show]="showButtons && showNav2"
        (click)="scrollToSection('installers')"
      >
        Installatører
      </p>
      <p
        class="nav-button glassmorphism-button fade-in"
        [class.show]="showButtons && showNav3"
        (click)="openContactModal()"
      >
        Kontakt
      </p>
    </div>

    <!-- Burger Menu -->
    <ng-template #burgerMenu>
      <div class="relative flex items-center">
        <button
          class="menu-icon p-2 text-4xl text-white"
          (click)="toggleOverlay()"
        >
          ☰
        </button>
      </div>
    </ng-template>
  </div>
</nav>
