<div class="h-auto bg-gray-500 pt-36">
  <div
    class="flex w-full justify-center text-5xl font-extrabold text-primary-color"
  >
    - Installatører -
  </div>
  <div class="mx-auto mt-12 w-1/2 text-center text-md text-white">
    <p>
      Vindmøllestrøm 3x dobles frem mod 2030. Med mere sol- og vindmøllestrøm er
      der brug for afbalancering af elnettet hurtigt. Energinet har derfor brug
      for at private virksomheder, etablerer løsninger der kan aflaste elnettet
      – således det konstant er i balance ved 50 Hz. Det er ikke fysisk muligt,
      at etablere ny kabling og flere ampere i bygninger – men vi skal udnytte
      de ampere der allerede er til rådighed i eksisterende bygninger – som ikke
      bliver brugt længere. Det kan være en industribygning, der tidligere har
      haft tung industri og nu ikke har dette længere. Når i kommer rundt til
      virksomheder, er i de første der opdager om der er ledige ampere i en
      industribygning. Bliv partner til Gogreentech Kan anvise os nogle steder
      med minimum 400 ledige ampere, så indgår vi en aftale med ejendomsejeren.
    </p>
  </div>
  <div class="mt-12 flex flex-row justify-around text-xl">
    <div class="rounded-lg border-2 p-4 text-gray-300">
      <p class="text-2xl text-white">Som installatør:</p>
      <p>Du bliver partner til Gogreentech</p>
      <p>
        Vi betaler dig for at have henvist en ejendom (henvisningsprovision)
      </p>
      <p>
        Når vi skal have installeret vores udstyr, så er det jeres virksomhed
        der skal udføre arbejdet
      </p>
    </div>
    <div class="rounded-lg border-2 p-4 text-gray-300">
      <p class="text-2xl text-white">Som ejendomsejer:</p>

      <p>De bidrager til den grønne omstilling</p>
      <p>
        Der er ingen omkostninger forbundet med løsningen for ejendomsejeren
      </p>
      <p>
        De vil modtage en leje indtægt pr. ampere de lejer ud til Gogreentech
      </p>
    </div>
  </div>
  <div class="mx-auto mt-12 w-1/2 text-center text-xl text-white">
    <p>Løsninger Gogreentech bruger for at balancere nettet.</p>
    <p>
      Der findes flere løsninger, men det er vigtigt at de kan reagere hurtigt
      (inden for få sekunder), her er batteriløsninger, der kan stå udendørs, en
      del af løsningen. Vores løsninger
    </p>
    <p>
      Alle vinder på det og samtidig understøtter vi Energinet’s ønske om
      balancering af elnettet.
    </p>
  </div>
</div>
