<div class="installers h-screen flex bg-gray-700">
  <div class="mx-auto flex h-full w-3/5 flex-col justify-around text-white">
    <div class="text-container">
      <p class="text-md 3xl:text-2xl text-left">{{ mainText }}</p>
    </div>

    <div class="flex w-full justify-center my-4 flex-wrap">
      <div *ngFor="let section of sections" class="flex w-full 2xl:w-1/2 p-4">
        <div class="text-container w-full">
          <p class="text-title">{{ section.title }}</p>
          <div *ngFor="let text of section.content">
            <p>{{ text }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-container">
      <div *ngFor="let text of solutionsText">
        <p>{{ text }}</p>
      </div>
    </div>
  </div>
</div>
