<div
  class="relative flex h-auto w-full flex-col items-center overflow-hidden bg-stone-200 pt-16"
>
  <div
    *ngIf="showSlide"
    class="relative flex h-[600px] w-full items-center justify-center border-2 border-primary-color bg-cover bg-center"
    [ngStyle]="{
      'background-image': 'url(' + images[currentSlide].src + ')',
    }"
    @fade
  >
    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black opacity-50"></div>

    <div
    class="absolute inset-0 z-10 flex items-center justify-center"
  >
    <p class="text-title text-center text-white w-full px-4">
      {{ images[currentSlide].text }}
    </p>
  </div>
  
    <button
      class="absolute left-0 top-1/2 z-10 -translate-y-1/2 transform p-2 text-white"
      (click)="previousSlide()"
    >
      &#10094;
    </button>
    <button
      class="absolute right-0 top-1/2 z-10 -translate-y-1/2 transform p-2 text-white"
      (click)="nextSlide()"
    >
      &#10095;
    </button>
  </div>

  <div
    class="flex h-full w-11/12 flex-col items-center justify-center bg-stone-200 py-12"
  >
    <div class="border-l-4 border-primary-color pl-4">
      <p class="text-left text-black">
        Fremtidens energimix kræver innovative løsninger. Gogreentech anerkender
        udfordringerne ved stigende elforbrug og udfasning af fossile
        brændstoffer. Vi stabiliserer elnettet ved at leje overskydende ampere
        fra virksomheder, hvilket balancerer udbud og efterspørgsel. Dette
        sikrer en stabil og bæredygtig energiforsyning, samtidig med at
        eksisterende ressourcer udnyttes optimalt.
      </p>
      <button
        (click)="openContactModal()"
        class="mt-4 w-1/2 rounded-lg border-2 border-white bg-gradient-to-br from-primary-color to-transparent py-2 font-bold text-slate-600"
      >
        Kontakt os
      </button>
    </div>
  </div>
</div>
