.slideshow {
  position: absolute;
  inset: 0;
  display: flex;
  overflow: hidden;

  .slide-image {
    @apply absolute inset-0 bg-cover bg-top transition-opacity duration-1000;
  }

  .slide-image:nth-child(1) {
    background-image: url("/assets/deal1.jpg");
    animation: slideshow 15s infinite;
  }

  .slide-image:nth-child(2) {
    background-image: url("/assets/deal2.jpg");
    animation: slideshow2 15s infinite;
  }

  .slide-image:nth-child(3) {
    background-image: url("/assets/deal3.jpg");
    animation: slideshow3 15s infinite;
  }
}

@keyframes slideshow {
  0%,
  33% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes slideshow2 {
  0%,
  50% {
    opacity: 0;
  }
  66%,
  100% {
    opacity: 1;
  }
}

@keyframes slideshow3 {
  0%,
  66% {
    opacity: 0;
  }
  100%,
  100% {
    opacity: 1;
  }
}
