<div class="flex justify-around bg-slate-700">
  <!-- Left Section -->
  <div
    class="industry relative flex h-[900px] w-1/2 flex-col justify-between text-white"
  >
    <div class="slideshow absolute inset-0 z-10 border-2 border-primary-color">
      <div class="slide-image"></div>
      <div class="slide-image"></div>
      <div class="slide-image"></div>
    </div>
  </div>

  <!-- Right Section (Content at the Bottom) -->
  <div class="z-20 grid h-auto w-1/2 grid-cols-2 gap-4 place-items-center">
    <div
      *ngFor="let section of data"
      class="m-4 flex max-w-96 flex-col items-center text-center text-white"
    >
      <p class="text-title text-xl font-semibold">
        {{ section.title }}
      </p>
      <p class="text-md mb-4">{{ section.description }}</p>
      <div class=""></div>
      <div *ngFor="let item of section.items">
        <p class="text-sm text-gray-300">{{ item }}</p>
      </div>
    </div>
  </div>
</div>
