<div class="installer-background 2x:py-6 h-screen px-1 py-6 2xs:px-4">
  <div class="flex h-full flex-col justify-around rounded-lg bg-stone-200 p-4">
    <div *ngIf="!showMore" class="flex w-full flex-col space-y-2">
      <div class="rounded-lg border-2 p-4 text-sm">
        <p class="text-title">Som Ejendomsejer:</p>
        <p>De bidrager til den grønne omstilling</p>
        <p>
          Der er ingen omkostninger forbundet med løsningen for ejendomsejeren
        </p>
        <p>
          De vil modtage en leje indtægt pr. ampere de lejer ud til Gogreentech
        </p>
      </div>
      <div class="rounded-lg border-2 p-4 text-sm">
        <p class="text-title">Som Installatør:</p>
        <p>Du bliver partner til Gogreentech</p>
        <p>
          Vi betaler dig for at have henvist en ejendom (henvisningsprovision)
        </p>
        <p>
          Når vi skal have installeret vores udstyr, så er det jeres virksomhed
          der skal udføre arbejdet
        </p>
      </div>
    </div>

    <div *ngIf="showMore" class="flex w-full flex-col 2xs:space-y-2">
      <div
        class="space-y-6 rounded-lg border-2 border-primary-color p-2 text-sm 2xs:p-4"
      >
        <p class="text-title">
          Grøn Energi og Stabilitet – Samarbejd med Gogreentech
        </p>
        <p>
          Hos Gogreentech arbejder vi for en bæredygtig fremtid ved at støtte
          Energinet i deres mission om grøn energi og sikre stabilitet i
          elnettet. Vi søger elinstallatører til at henvise erhvervsejendomme
          med mindst 300 ledige ampere.
        </p>
        <p>
          Energinet balancerer et elsystem, der i stigende grad afhænger af
          ustabile energikilder som sol og vind, hvilket øger behovet for
          fleksible systemydelser. Med vores hjælp kan vi udnytte ledige ampere
          til at stabilisere elnettet og sikre en mere pålidelig
          energiforsyning.
        </p>
        <p>
          Elinstallatører modtager provision, når en lejekontrakt er
          underskrevet, og anlægget er sat i produktion. Sammen kan vi skabe en
          mere stabil og bæredygtig fremtid for alle. Lad os samarbejde for at
          finde erhvervsejendomme, der kan bidrage til denne vigtige mission.
        </p>
      </div>
    </div>

    <div class="flex flex-row justify-between">
      <ng-container *ngIf="!showMore; else goBackTemplate">
        <button
          (click)="toggleShowMore()"
          class="rounded-md border-2 border-primary-color p-1 font-semibold 2xs:p-4"
        >
          Læs mere
        </button>
      </ng-container>
      <ng-template #goBackTemplate>
        <button
          (click)="toggleShowMore()"
          class="rounded-md border-2 border-primary-color p-1 font-semibold 2xs:p-4"
        >
          Gå tilbage
        </button>
      </ng-template>
      <button
        (click)="openContactModal()"
        class="rounded-md border-2 bg-primary-color p-1 font-semibold text-white 2xs:p-4"
      >
        Kontakt os i dag!
      </button>
    </div>
  </div>
</div>
