<!-- Landing Page Desktop -->
<div id="landingPageDesktop" class="max-w-screen relative h-full overflow-hidden bg-opacity-90 text-white border-b-2">
  <div class="flex h-full flex-row items-center justify-between">
    <div class="m-4 flex h-full w-1/2 flex-grow items-center justify-center p-2">
      <div class="parent-div relative flex h-full w-full items-center justify-center rounded-2xl">
        <canvas class="canvas-container absolute inset-0 h-full w-full cursor-pointer" id="earthCanvas"
          #earthCanvas></canvas>
        <div
          class="pointer-events-none absolute inset-0 z-20 flex select-none flex-col items-center justify-center rounded-xl text-center font-bold transition-opacity duration-500"
          id="overlay"></div>
      </div>
    </div>
    <div class="flex h-full w-1/2 items-center justify-center">
      <div class="m-4 w-3/4 flex-shrink-0 text-container xl:w-2/3">
        <p class="text-title text-center">GoGreenTech</p>
        <p>Vi er bindeled mellem vores elnet og ejendomsejere – samtidig hjælper vi den grønne omstilling.</p>
        <p>Elnettet svinger konstant på 50 Hz – sker det ikke, får vi ustabilitet i vores elnet. Energinet skal konstant
          sikre, at vores elnet er i Balance. Når man producerer el med fossile brændstoffer, er det relativt nemt at
          skrue op og ned, så man hele tiden sikrer der er den korrekte strøm i nettet.</p>
        <p>Danmark 3x dobler vores produktion af vind og solenergi frem mod 2030. I fremtiden bliver det derfor sværere,
          at sikre der altid er den rette strøm, når vi har brug for den. Er der for lidt strøm er det et problem, er
          der for meget strøm - er dette også et problem.</p>
        <p>Gogreentech har de rette tekniske løsninger, til at balancere elnettet og vi binder ejendomsejere og
          Energinet sammen på en enkle måde.</p>
      </div>
    </div>
  </div>
</div>