#landingPageDesktop {
  height: calc(100vh - 96px);
background-color: #4874bc
}

.landing-page {
  position: relative;
  z-index: 0;
}

.landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Adjust to cover the entire height */
  background-image: url("/assets/clouds.jpeg");

  background-position: center;
  /* Center the background image */
  background-repeat: no-repeat;
  background-size: contain;
  /* Ensure the entire image is visible */
  opacity: 0.3;
  z-index: -1;
}