<div id="landingPageDesktop" class="landing-page overflow-hidden text-white">
  <div class="relative flex h-full w-screen items-center justify-center">
    <div
      class="parent-div relative m-2 flex h-4/5 w-2/3 items-center justify-center rounded-2xl"
    >
      <canvas
        class="canvas-container h-full w-full cursor-pointer"
        id="earthCanvas"
        #earthCanvas
      ></canvas>
      <div
        class="absolute inset-0 z-10 backdrop-blur-md backdrop-filter transition-opacity duration-500"
        id="backdrop"
        style="pointer-events: none"
      ></div>
      <div
        class="pointer-events-none absolute inset-0 z-20 flex select-none flex-col items-center justify-center rounded-xl text-center font-bold transition-opacity duration-500"
        id="overlay"
      >
        <div class="rounded-lg bg-gray-500 bg-opacity-75 p-6">
          <p class="text-5xl text-white drop-shadow-2xl font-extrabold pb-2">GoGreenTech</p>
          <p class="text-2xl text-white">hjemmeside under konstruktion</p>
        </div>
      </div>
    </div>
  </div>
</div>
