

.text-title {
  position: relative;
  display: inline-block;
}

.arrow {
  cursor: pointer;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.arrow.rotated {
  transform: rotate(180deg);
}
