<div class="flex h-screen items-center justify-center bg-white">
  <div class="flex h-full w-full max-w-md flex-col items-center justify-center">
    <div
      *ngIf="!showText"
      class="flex w-full flex-col items-center justify-center"
    >
      <div
        *ngFor="let section of data"
        class="m-2 pl-2 rounded-sm border-l-4 border-primary-color bg-stone-200"
        [ngClass]="{ 'cursor-pointer': section.isButton }"
        (click)="section.isButton ? toggleText() : null"
      >
        <div class="flex items-center justify-between">
          <h3 class="text-title font-bold">{{ section.title }}</h3>
          <span *ngIf="section.isButton" class="arrow text-title">
            <span *ngIf="!showText"> &#9660;</span>
            <span *ngIf="showText"> &#9650;</span>
          </span>
        </div>
        <p class="line-clamp-3 text-sm">{{ section.description }}</p>
        <ul>
          <li
            class="text-xs text-gray-600 underline"
            *ngFor="let item of section.items"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </div>

    <div
      [@expandCollapse]="showText ? 'expanded' : 'collapsed'"
      class="w-full overflow-hidden px-4"
      [ngStyle]="{ overflow: showText ? 'visible' : 'hidden' }"
    >
      <div
        (click)="toggleText()"
        class="rounded-sm border-l-4 border-primary-color bg-stone-200 p-2"
      >
        <div class="flex items-center justify-between">
          <h3 class="text-title font-bold">{{ data[0].title }}</h3>
          <span class="arrow text-title">
            <span *ngIf="showText"> &#9650;</span>
          </span>
        </div>
        <p class="text-sm">{{ data[0].description }}</p>
      </div>
    </div>
  </div>
</div>
