<!-- Desktop Layout -->
<ng-container *ngIf="!(isMobile$ | async); else mobileLayout">
  <div class="flex h-screen flex-col bg-gradient-to-b from-gray-700 to-detail-color">
    <app-header class="flex-none"></app-header>
    <app-landing-page-desktop id="home" class="flex-grow"></app-landing-page-desktop>
  </div>

  <app-property-owner id="property-owner"></app-property-owner>
  <app-installers id="installers"></app-installers>
  <app-footer></app-footer>
</ng-container>

<!-- Mobile Layout -->
<ng-template #mobileLayout>
  <app-header></app-header>
  <app-landing-page-mobile class="flex-grow" id="home"></app-landing-page-mobile>
  <ng-container>
    <app-property-owner-mobile id="property-owner"></app-property-owner-mobile>
    <app-installers-mobile id="installers"></app-installers-mobile>
  </ng-container>
</ng-template>
