<footer
  class="flex flex-col items-center justify-center bg-gray-700 px-4 py-8 text-white sm:flex-row sm:h-44 sm:items-start sm:justify-between sm:px-12"
>
  <!-- Address Section -->
  <div class="flex flex-col items-center text-center sm:items-start sm:text-left">
    <p>Gogreentech A/S</p>
    <p>Møllehaven 7</p>
    <p>DK - 4040 Jyllinge</p>
  </div>

  <!-- Contact Section -->
  <div class="mt-4 flex flex-col items-center text-center sm:mt-0 sm:items-start sm:text-left">
    <p class="font-bold">Kontakt</p>
    <div class="flex items-center space-x-2">
      <mat-icon class="h-5 w-5">phone</mat-icon>
      <a href="tel:+4525209010" class="hover:underline text-sm">+45 25 20 90 10</a>
    </div>
    <div class="flex items-center space-x-2">
      <mat-icon class="h-5 w-5">mail</mat-icon>
      <a href="mailto:kontakt@gogreentech.dk" class="hover:underline text-sm">
        kontakt&#64;gogreentech.dk
      </a>
    </div>
  </div>

  <!-- Logo Section -->
  <div
    class="mt-4 flex flex-col items-center sm:mt-0 sm:flex-row sm:items-center sm:h-full"
  >
    <img
      class="h-12 w-auto"
      src="/assets/gogreentech_logo.png"
      alt="logo"
    />
    <div class="mt-2 flex flex-col items-center sm:mt-0 sm:pl-4 sm:items-start">
      <p class="font-extrabold text-primary-color">GoGreenTech</p>
      <p class="text-sm font-bold text-white">TECH FOR THE CLIMATE</p>
    </div>
  </div>
</footer>
