<div
  id="landingPageMobile"
  class="relative flex h-screen flex-col overflow-hidden text-white"
>
  <div class="relative flex flex-grow items-center justify-center">
    <div
      class="parent-div relative m-4 flex h-4/5 w-11/12 items-center justify-center rounded-2xl"
    >
      <canvas
        class="canvas-container h-full w-full cursor-pointer"
        id="earthCanvas"
        #earthCanvas
      ></canvas>

      <div
        class="pointer-events-none absolute inset-0 z-20 flex select-none flex-col items-center justify-center rounded-xl text-center font-bold"
      >
        <p class="text-5xl text-white drop-shadow-2xl">Gogreentech</p>
        <p class="text-2xl text-white">
          hjemmeside under konstruktion
        </p>
        <button class="my-4 rounded-md bg-cyan-900 px-12 py-4 drop-shadow-xl">
          SE MERE
        </button>
      </div>
    </div>
  </div>
</div>
