:host ::ng-deep .mat-mdc-dialog-container {
  padding: 0;
}

:host ::ng-deep .mat-mdc-dialog-surface {
  max-width: none;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

:host ::ng-deep .cdk-overlay-pane {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.sidebar {
  position: relative; /* Ensure relative positioning for the pseudo-element */

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/gogreentech_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;
    z-index: 0;
  }

  /* Ensure content is above the pseudo-element */
  > * {
    position: relative;
    z-index: 1;
  }

  /* Ensure the close button is above all other elements */
  button.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: auto;
  }
}
