<div class="relative bg-gray-500 bg-opacity-90 py-2 px-6 rounded-lg border-2 shadow-black shadow-lg   ">
    <button (click)="closeModal()" class="absolute top-0 right-0 m-2 p-2 rounded-full bg-white text-black">
        <span class="flex items-center justify-center w-4 h-4 text-lg leading-none">✕</span>
    </button>
    <h2 class="text-title py-4">Kontakt os</h2>
    <div class="font-bold text-white">
        <p>
            Vi ved alle at den grønne omstilling tager fart nu, og du kan som ejendomsejer være med – samtid er
            fordelene for dig indlysende:
        </p>
        <ul class="list-disc list-inside space-y-2">
            <li>
                Du modtager en husleje hver måned – ikke for at leje m2 ud, men for at leje ampere ud
            </li>
            <li>
                Det er gratis for dig at have ekstra ampere og nu kan du få leje indtægter
            </li>
            <li>
                Der er ingen omkostninger i det for ejendomsejeren – Gogreentech betaler investeringer om omkostninger
                til ny tavle, måler, kabler og teknologi
            </li>
            <li>
                Har du f.eks. 500 ampere i overskud, vil den ekstra lejeindtægt øge ejendommens værdi med 1 mio. kr. ved
                salg
            </li>
            <li>
                Er du i tvivl om du har ekstra ampere, så kontakt os gerne. Du kan også sende et billede af din elmåler
                (eller
                el målere) – så undersøger vi antal ampere der er til rådighed
            </li>
        </ul>
    </div>

    <div class="flex flex-col">
        <div class="text-title mx-auto my-4">
            Vil du vide mere?
        </div>
        <div class="flex flex-row justify-around text-white">
            <p>+45 25 20 90 10</p>
            <p>kc&#64;gogreentech.dk</p>
        </div>
    </div>
</div>