<div class="flex flex-col items-center justify-start">
  <div
    class="mb-16 w-10/12 flex-row border-l-2 border-primary-color pl-6"
  >
    <p>
      Hos Gogreentech arbejder vi med at levere avancerede systemydelser til
      Energinet, som er afgørende for at sikre stabilitet og balance i det
      danske elsystem. Systemydelser er en samlet betegnelse for de tekniske
      løsninger og ressourcer, der gør det muligt at opretholde
      elforsyningssikkerheden.
    </p>
  </div>
  <!-- TOP ROW WITH 2 ELEMENTS CENTERED -->
  <div
    class="my-16 flex w-full flex-col justify-center items-center lg:flex-row lg:justify-around"
  >
    <!-- FIRST ELEMENT (YouTube Iframe) -->
    <div class="h-[230px]">
      <iframe
        class="overlay-iframe rounded-sm"
        src="https://www.youtube.com/embed/GSQvvKCKq4k?autoplay=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="">
        Denne video fra Energinet forklarer <br />
        hvorfor systemydelser er så vigtige for samfundet
      </p>
    </div>
    <!-- SECOND ELEMENT (Image and Text Block) -->
    <div class="flex max-h-[280px] max-w-[400px] flex-col items-center">
      <!-- Image Section -->
      <div class="">
        <img
          [src]="data.details.image"
          alt="Details Image"
          class="h-auto w-full rounded-lg border-2 border-primary-color"
        />
      </div>
      <!-- Text Section -->
      <div class="text-left">
        <p>{{ data.details.text }}</p>
      </div>
    </div>
  </div>

  <!-- GRID CONTENT CENTERED BELOW -->
  <div
    class="my-16 grid grid-cols-1 lg:grid-cols-2 justify-items-center gap-x-64 gap-y-32 text-center"
  >
    <div
      *ngFor="let section of data.grid"
      class="flex h-full flex-col items-center text-center text-black"
    >
      <p class="text-title font-semibold">{{ section.title }}</p>
      <p class="mb-4 max-w-[400px]">{{ section.description }}</p>
      <ul>
        <li *ngFor="let item of section.items">{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
