<div
  class="max-w-screen relative flex h-screen overflow-hidden bg-slate-700 text-white"
>
  <div class="m-auto flex h-full items-center justify-center">
    <div
      class="text-image relative flex h-full flex-col items-center justify-center space-y-4"
    >
      <p
        class="text-center text-2xl font-bold text-primary-color drop-shadow-lg"
      >
        Gogreentech - Din Partner i Fremtidens Energiløsninger
      </p>
      <p class="w-1/3 p-2 text-center text-xl font-bold text-stone-100">
        Gogreentech forbinder ejendomsejere med Energinet og tilbyder
        lejeaftaler, der understøtter grøn omstilling. Vi hjælper ved at udleje
        overskydende ampere, hvilket stabiliserer elnettet og balancerer
        energipriserne – en løsning, der bidrager til et fremtidssikret
        energisystem.
      </p>
    </div>
  </div>
  <div class="separator"></div>
</div>
