@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #8fbf3c;
}

.primary-color {
  color: #8fbf3c;
}

.secondary-color {
  color: #0c78be;
}

.text-container {
  @apply rounded-lg border-2 bg-gray-500 bg-opacity-50 p-4 shadow-lg shadow-black;
}

.text-title {
  @apply text-2xl font-extrabold text-primary-color drop-shadow-lg;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.contact-modal-sidebar .mat-mdc-dialog-container {
  padding: 0;
}

.contact-modal-sidebar .mat-mdc-dialog-surface {
  max-width: none;
  width: 300px;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.contact-modal-sidebar .cdk-overlay-pane {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.contact-modal-sidebar .mat-mdc-dialog-container {
  background: transparent !important;
  padding: 0;
}

.contact-modal-sidebar .mat-mdc-dialog-surface {
  background: none !important;
  box-shadow: none !important;
  max-width: none;
  width: 300px;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.contact-modal-sidebar .cdk-overlay-pane {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Ensure the overlay has a dark background */
}
