@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism-button {
  @apply text-gray-300 hover:text-primary-color hover:cursor-pointer
}

.primary-color {
  color: #8fbf3c;
}

.secondary-color {
  color: #0c78be;
}

.text-container {
  @apply bg-gray-500  bg-opacity-50 p-4 rounded-lg border-2 shadow-black shadow-lg
}

.text-title {
  @apply  text-2xl drop-shadow-lg text-primary-color font-extrabold
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}