<div class="installers flex my-12">
  <div
    class="mx-auto flex w-11/12 flex-col justify-around text-white 2xl:w-3/5"
  >
    <!-- Image Card Grid Section -->
    <div class="grid w-full grid-cols-2 gap-4 md:grid-cols-3">
      <div
        *ngFor="let image of images; let i = index"
        class="fade-in group relative h-64 w-full overflow-hidden rounded-lg"
        [id]="'image-' + i"
      >
        <!-- Image with Hover Zoom Effect -->
        <img
          [src]="image.src"
          alt="Card Image"
          class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-110"
        />
        <!-- Dark Overlay with White Text -->
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black via-black/70 to-transparent p-6 pt-12"
        >
          <p class="font-semibold text-white">{{ image.text }}</p>
        </div>
      </div>
    </div>

    <div class="border-l-2 border-primary-color pl-6 text-black mt-24">
      <p class="text-left">
        Grøn Energi for en Bæredygtig Fremtid – Sammen kan vi Løse
        Udfordringerne Hos Gogreentech arbejder vi for at sikre elnettets
        stabilitet i en tid med grøn omstilling. Vi støtter Energinets vision om
        grøn energi og søger samarbejde med elinstallatører til at identificere
        erhvervsejendomme med ledige ampere. Energinet balancerer et elsystem
        med stigende brug af ustabile energikilder som sol og vind – en stor
        udfordring for den grønne omstilling. Med vores løsninger bidrager
        Gogreentech til stabilitet og balance i elsystemet.
      </p>
    </div>

    <div class="mx-auto block h-12 my-12">
      <button
        class="mx-auto w-auto rounded-lg border-2 border-primary-color p-2 text-black transition-all duration-300 hover:bg-primary-color"
        (click)="openContactModal()"
      >
        Kontakt os i dag - lad os sammen forme fremtidens energiløsninger
      </button>
    </div>

    <div class="flex w-full flex-row flex-wrap justify-between 2xl:space-x-4 my-12">
      <div *ngFor="let section of sections" class="flex w-5/12">
        <div class="w-full">
          <p class="text-title">{{ section.title }}</p>
          <div *ngFor="let text of section.content" class="text-black">
            <p>{{ text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
